body
{
    background-color: rgb(225, 248, 248);
}

img
{
    border: 2px ;
}

table
{
    border: 2px solid black;
    background-color: #72bcc8;
    color: white;
}

table td
{
    color: black;
    border: 2px solid black;
}

table tbody tr td:first-child
{
    background-color: #98d9e5;
}

table tbody tr td:nth-child(2)
{
    background-color: #bedee4;
}

table tfoot td
{
    background-color: rgb(148, 148, 216);
}